%reproductor{
    width: 500px;
    height: 350px;
    position: relative;
    border: #14446b solid 2px;
    border-radius: 5%;
    overflow: hidden;
}
%repDivImgHover{
    transform:scale(1.2);
    transition:linear;
    transition-duration: 0.5s;   
}
%repIfram{
    width: inherit;
    height: inherit;
}
%repDiv{
    width: inherit;
    height: inherit;
}
%repDivImg{
    width: inherit;
    height: inherit;
}

%tarjSld{
    width: 280px;
    height: 350px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    align-content: center;
    justify-content: center;
    @media(max-width:800px){
        width: 600px !important;
        height: 150px !important;
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    
    .num{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width:100%;
        height: 120px;
        margin-bottom: 10px;
        @media(max-width:800px){
            padding-left: 20px;
            justify-content:center;
            align-items: center;
        }
        p{
            font-size: 112px;
            height: auto;
            margin: 0;
            @media(max-width:800px){
                padding-right: 20px;
            }
        }
    }
    
    p:nth-child(2){
        margin: 0;
}
}