.bkgBlanco{
    width: 80%;
    height: auto;
    background-color: white; 
    box-shadow: 0px 0px 15px rgba(119, 118, 118, 0.315);
    -webkit-box-shadow: 0px 0px 20px 6px rgba(2, 2, 2, 0.27); 
    box-shadow: 0px 0px 20px 6px rgba(204, 204, 204, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
}