* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
body {
  display: grid;
  grid-template-rows: repeat(4fr auto);
  grid-template-areas: "nav" "header" "main" "footer";
}

nav {
  grid-area: nav;
  display: flex;
}

header {
  grid-area: header;
  display: flex;
}

main {
  grid-area: main;
  display: flex;
}

footer {
  grid-area: footer;
  display: flex;
}

.navegador {
  background-color: rgb(20, 68, 107);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  flex-flow: row;
  position: fixed;
  z-index: 12;
}
.navegador ul {
  display: flex;
  padding-right: 30px;
  margin: 0;
}
@media (max-width: 1100px) {
  .navegador ul {
    padding-right: 10px;
  }
}
@media (max-width: 800px) {
  .navegador ul {
    position: fixed;
    top: -160px;
    flex-direction: column;
    background-color: #14446b;
    height: 150px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    transition: 1.5s;
    transition-delay: 0.3s;
    z-index: -1;
  }
  .navegador ul:hover {
    top: 80px;
  }
}
.navegador ul li {
  font-family: raleway;
  font-size: 13px;
  list-style: none;
}
.navegador ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px;
}
.navegador ul li a:hover {
  color: rgb(218, 184, 178);
  transition-duration: 1s;
  transition-delay: 0.03s;
}
@media (max-width: 1100px) {
  .navegador ul li a {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .navegador ul li a {
    transition-duration: 0.5s;
    justify-content: start;
    padding: 0;
  }
}
.navegador .nombreEmpresa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14446b;
  height: 80px;
  font-family: raleway;
  font-weight: 600;
  color: white;
  font-size: 36px;
  padding-left: 30px;
  margin: 0;
}
@media (max-width: 1100px) {
  .navegador .nombreEmpresa {
    font-size: 30px;
    padding-left: 15px;
  }
}
.navegador .fa-bars {
  color: white;
  font-size: 30px;
  visibility: hidden;
}
@media (max-width: 800px) {
  .navegador .fa-bars {
    visibility: visible;
    padding-right: 50px;
  }
  .navegador .fa-bars:hover + ul {
    top: 80px;
  }
  .navegador .fa-bars:hover + ul li a {
    transition-delay: 0.8s;
    color: white;
  }
}

.principal {
  background: linear-gradient(45deg, rgb(218, 184, 178) 0%, rgb(20, 68, 107) 45%, rgb(218, 184, 178) 100%);
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
}

.imagenSaludo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/oficina\ edit\ 2.jpg);
  width: 100%;
  height: 450px;
  margin-top: 80px;
  background-size: cover;
  color: rgb(248, 248, 248);
  font-family: raleway;
  top: 80px;
  z-index: 1;
}
@media (max-width: 1300px) {
  .imagenSaludo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/assets/img/20200325-Oficina.jpg);
  }
}
.imagenSaludo .textoSaludo1 {
  padding-inline: 100px;
  text-align: left;
  font-size: 120%;
  padding-top: 150px;
  line-height: 40px;
}
@media (max-width: 1300px) {
  .imagenSaludo .textoSaludo1 {
    padding-top: 120px;
  }
}
@media (max-width: 800px) {
  .imagenSaludo .textoSaludo1 {
    padding-left: 70px;
  }
}
@media (max-width: 800px) {
  .imagenSaludo .textoSaludo1 {
    padding-left: 70px;
    font-size: 100%;
  }
}
.imagenSaludo .textoSaludo2 {
  padding-inline: 100px;
  text-align: left;
  font-size: 120%;
}
@media (max-width: 800px) {
  .imagenSaludo .textoSaludo2 {
    padding-left: 70px;
    font-size: 100%;
  }
}
.imagenSaludo strong {
  font-size: 160%;
}
@media (max-width: 800px) {
  .imagenSaludo strong {
    font-size: 140%;
  }
}

.pgt p {
  font-family: raleway;
  color: white;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: raleway;
  color: white;
  margin-bottom: 50px;
  gap: 20px;
}
@media (max-width: 800px) {
  .tarjetas {
    flex-direction: column;
    gap: 30px;
  }
}
.tarjetas p strong {
  font-size: 120%;
}
.bkgBlanco {
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(119, 118, 118, 0.315);
  box-shadow: 0px 0px 20px 6px rgba(204, 204, 204, 0.308);
  padding: 0px 0px 10px 0px;
}

.ceo1 {
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  align-content: center;
  padding: 25px 5px 0px 5px;
  gap: 10px;
}
.ceo1 .sobreMi {
  width: 50%;
}
.ceo1 .ceo1Text {
  padding: 10px;
  width: 50%;
  font-family: raleway;
}
.ceo1 .ceo1Text .ceo1Text1 {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(20, 68, 107);
  line-height: 50px;
}
.ceo1 .ceo1Text .ceo1Text2 {
  font-weight: 600;
  line-height: 50px;
}
.ceo1 .ceo1Text .ceo1Text3 {
  width: 90%;
  margin-bottom: 15px;
}
.ceo1 .ceo1Text mark {
  color: rgb(20, 68, 107);
  background-color: white;
  font-weight: 800;
}

.ceo2 {
  width: 100%;
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  align-content: center;
  padding: 0px 25px 25px 10px;
  gap: 10px;
}
.ceo2 .ceo2Text {
  width: 50%;
  font-family: raleway;
  padding-left: 15px;
}
.ceo2 .ceo2Text .ceo2Text1 {
  font-size: 30px;
  font-weight: bolder;
  color: rgb(20, 68, 107);
  line-height: 50px;
  margin-bottom: 10px;
}
.ceo2 .ceo2Text .ceo2Text2 {
  margin-bottom: 20px;
}
.ceo2 .ceo2Text .ceo2Text3 {
  margin-bottom: 20px;
}
.ceo2 .ceo2Text .ceo2Text4 {
  color: rgb(20, 68, 107);
  font-weight: bolder;
  font-size: 20px;
}
.ceo2 .imgCeo2 {
  width: 50%;
  padding-right: 15px;
  margin-bottom: 30px;
}

.entrevista4, .entrevista1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 500px;
  height: 350px;
}

.entrevista5, .entrevista3, .entrevista2 {
  display: flex;
  margin: 10px;
  width: 456px;
  height: 140px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.entrevista4 .reproductor4, .entrevista1 .reproductor1 {
  width: 500px;
  height: 350px;
  position: relative;
  border: #14446b solid 2px;
  border-radius: 5%;
  overflow: hidden;
}

.entrevista4 .reproductor4 img:hover, .entrevista1 .reproductor1 img:hover {
  transform: scale(1.2);
  transition: linear;
  transition-duration: 0.5s;
}

.entrevista4 .reproductor4 iframe, .entrevista1 .reproductor1 iframe {
  width: inherit;
  height: inherit;
}

.tarjetas .tarjeta1, .tarjetas .tarjeta2, .tarjetas .tarjeta3 {
  width: 280px;
  height: 350px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  align-content: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .tarjetas .tarjeta1, .tarjetas .tarjeta2, .tarjetas .tarjeta3 {
    width: 600px !important;
    height: 150px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tarjetas .tarjeta1 p:nth-child(1), .tarjetas .tarjeta2 p:nth-child(1), .tarjetas .tarjeta3 p:nth-child(1) {
  font-size: 700%;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .tarjetas .tarjeta1 p:nth-child(1), .tarjetas .tarjeta2 p:nth-child(1), .tarjetas .tarjeta3 p:nth-child(1) {
    padding-right: 20px;
  }
}

.multimedia {
  margin-top: 40px;
  width: 80%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(119, 118, 118, 0.315);
  box-shadow: 0px 0px 20px 6px rgba(204, 204, 204, 0.308);
  padding: 20px 0px 10px 0px;
  display: grid;
  font-family: raleway;
  color: rgb(20, 68, 107);
  grid-template-columns: repeat(4, 265px);
  grid-template-rows: repeat(4, 1fx);
  grid-template-areas: "entrevista1     entrevista1      entrevista4       entrevista4" "entrevista1     entrevista1      entrevista4       entrevista4" "entrevista2     entrevista2      entrevista3       entrevista3" "entrevista5     entrevista5      entrevista5       entrevista5";
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 1300px) {
  .multimedia {
    grid-template-columns: repeat(2, 265px);
    grid-template-rows: repeat(5, 1fx);
    grid-template-areas: "entrevista1     entrevista1" "entrevista4     entrevista4" "entrevista2     entrevista2" "entrevista3     entrevista3" "entrevista5     entrevista5";
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 10px;
  }
  .entrevista1, .entrevista4 {
    padding: 10px;
  }
}
.tituloMultimedia {
  width: 80%;
  font-family: raleway;
  color: white;
  font-size: 200%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tituloMultimedia h2 {
  padding-bottom: 15px;
}
.tituloMultimedia p {
  font-size: 70%;
}
@media (max-width: 800px) {
  .tituloMultimedia p {
    font-size: 50%;
    padding-bottom: 10px;
  }
}

.entrevista1 {
  grid-area: entrevista1;
}
.entrevista2 {
  grid-area: entrevista2;
}

.entrevista3 {
  grid-area: entrevista3;
}

.entrevista4 {
  grid-area: entrevista4;
}
.entrevista5 {
  grid-area: entrevista5;
}

.youTube {
  display: flex;
  justify-content: left;
  justify-items: center;
  padding: 15px 0px 0px 150px;
}

.btnYTPrp {
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.btnYTPrp a {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  margin: 20px;
}
.btnYTPrp a:hover {
  background-position: 100% 0;
  transition: all 0.8s ease-in-out;
  color: #14446b;
}
.btnYTPrp input {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  margin: 20px;
}
.btnYTPrp input:hover {
  background-position: 100% 0;
  transition: all 0.8s ease-in-out;
  color: #14446b;
}
.btnYTPrp .btnYT {
  background-image: linear-gradient(to right, #14446b, #7d4b8a, #db9fd1, #dab8b2);
  box-shadow: 0 4px 15px 0 rgba(164, 123, 202, 0.75);
  font-family: raleway;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 70px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.8s ease-in-out;
}
.btnYTPrp .btnYT :hover {
  background-position: 100% 0;
  transition: all 0.8s ease-in-out;
}
.btnYTPrp .btnYT :focus {
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 50, 50);
  height: 90px;
  color: rgb(124, 123, 123);
  font-family: raleway;
  border-top: 4px #14446b solid;
  justify-content: center;
  align-items: center;
}
footer .hst2 {
  width: 252px;
}
footer .rS {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer .iconRS {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: right;
  padding: 10px;
}
footer .iconRS a {
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  width: 50px;
  height: 50px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
  z-index: 1;
}
footer .iconRS a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, #dab8b2, #14446b);
  border-radius: 50%;
  transition: 0.3s ease-in;
  z-index: -1;
}
footer .iconRS a:hover::before {
  transform: scale(0);
}
footer .iconRS a i {
  transition: 0.3s ease-in;
}
footer .iconRS a:hover i {
  background: linear-gradient(45deg, #dab8b2, #14446b);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}
footer .hst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .develop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}
footer .develop a {
  text-decoration: none;
  color: rgb(124, 123, 123);
}

.backCt {
  margin-top: 30px;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(119, 118, 118, 0.315);
  box-shadow: 0px 0px 20px 6px rgba(204, 204, 204, 0.308);
  padding: 30px;
  display: flex;
  font-family: raleway;
  color: rgb(20, 68, 107);
  justify-content: center;
}

.formComp {
  width: 90%;
  height: 600px;
  border: #14446b solid 3px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.imgCt {
  width: 50%;
  display: flex;
  position: relative;
}

/* se comenta este fragmento dado que esta imagen se usara para una 
posterior animacion con JS- 

.imgVentanaCt{
    background-image: url(../img/ventana_edit.jpg);
    background-size:cover;
    width: 100%;
    height: 600px;
    z-index: 49;
    position: absolute;
}
*/
.imgSaludoCt {
  background-image: url(../img/img_saludo_cont.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  z-index: 48;
  position: absolute;
}

.formCt {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #14446b;
  color: #fff;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1100px) {
  .imgCt {
    display: none !important;
  }
  .formCt {
    width: 100%;
  }
  .formComp {
    width: 80%;
  }
  .tituloMultimedia p {
    flex-wrap: wrap;
  }
}
.formCt textarea {
  height: 180px;
  margin-bottom: 10px;
  width: 400px;
  font-family: raleway;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
}

.formCt input {
  height: 30px;
  margin-bottom: 0;
  width: 400px;
  font-family: raleway;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
}

.formCt button {
  font-family: raleway;
  color: white;
  font-size: larger;
  font-weight: 600;
  border-radius: 30px;
  padding: 0px 10px;
  height: 40px;
  width: 160px;
  overflow: hidden;
  border: none;
  transition: 1s 0.3s;
  background-image: linear-gradient(45deg, #dab8b2 0%, rgb(148, 101, 146) 45%, rgb(218, 184, 178) 100%);
}

.formCt button:hover {
  width: 400px;
  color: #14446b;
  transition: 1s;
  background-image: linear-gradient(45deg, #dab8b2 0%, rgb(148, 101, 146) 45%, rgb(218, 184, 178) 100%);
}

.formCt button .fa-paper-plane:nth-child(1) {
  padding: 10px;
  padding-right: 0;
  color: transparent;
  transform: translatex(0px);
  transition-duration: 1s;
}

.formCt button:hover .fa-paper-plane:nth-child(1) {
  transform: translatex(-120px);
  transition-duration: 1s;
  transition-delay: 0.5s;
  color: #14446b;
}

.formCt button .fa-paper-plane:nth-child(2) {
  padding: 10px;
  padding-right: 0;
  color: transparent;
  transform: translatex(0px);
  transition-duration: 1s;
}

.formCt button:hover .fa-paper-plane:nth-child(2) {
  transform: translatex(120px);
  transition-duration: 1s;
  transition-delay: 0.5s;
  color: #14446b;
}

.ppalCot {
  background: linear-gradient(45deg, rgb(218, 184, 178) 0%, rgb(20, 68, 107) 45%, rgb(218, 184, 178) 100%);
  justify-content: center;
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-bottom: 40px;
  flex-direction: column;
}

.sldCot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: white;
  font-family: raleway;
  margin-top: 40px;
  margin-bottom: 20px;
}
.sldCot h2 {
  font-weight: bolder;
  font-size: 48px;
}
.sldCot p {
  font-size: 22.4px;
  margin: 0;
}

.formCot {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-family: raleway;
  color: white;
  justify-content: left;
  align-items: initial;
  padding: 10px;
}
.formCot input {
  height: 40px;
  margin-bottom: 10px;
  width: 400px;
  font-family: raleway;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
  width: 100%;
  color: #14446b;
}
.formCot select {
  height: 50px;
  margin-bottom: 10px;
  width: 400px;
  font-family: raleway;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
  width: 100%;
  font-weight: bold;
  color: #14446b;
}
.formCot option {
  height: auto;
  margin-bottom: 0px;
  width: 400px;
  font-family: raleway;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
  width: 100%;
}
.formCot .formR {
  background-color: white;
  border: none;
  border-radius: 30px;
  color: #14446b;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: center;
  align-items: initial;
}
.formCot .formR h5 {
  font-weight: bold;
}
.formCot .formR .radio {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}
.formCot .formR .radio input {
  width: 30px;
  height: 30px;
  margin: 10px;
}