.youTube{
    display: flex;
    justify-content: left;
    justify-items: center;
    width: 100%;
    padding: 15px 0px 0px 150px;
    .btnYTPrp{
        @include btnPropFx(inline, left, center, auto);
        text-align: center;
        padding: 20px;
        
        .btnYT {
            @include btnFx(16px, 70px);
        }
    }
    
}




