.youTube{
    display: flex;
    justify-content: left;
    justify-items: center;
    padding: 15px 0px 0px 150px;
}
.btnYTPrp{
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.btnYTPrp a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    margin: 20px;
}
.btnYTPrp a:hover{
    background-position: 100% 0;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    color: #14446b;
}
.btnYT {
    font-family: raleway;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 70px;
    text-align:center;
    border: none;
    background-size:300% 100%;
    border-radius: 50px;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.btnYT:hover {
    background-position: 100% 0;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.btnYT:focus {
    outline: none;
}
.btnYT{
    background-image: linear-gradient(to right, #14446b, #7d4b8a, #db9fd1, #dab8b2);
    box-shadow: 0 4px 15px 0 rgba(164, 123, 202, 0.75);
}