@import "var";


.servPers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 10px;

    
    .cardServ{
        font-family: raleway;
        background-color: rgb(51, 50, 50);
        color: white;
        display: flex;
        flex-direction: column;
        width: 45%;
        border: 2px solid $azul;
        border-radius: 10px;
        overflow: hidden;
        height: auto;
            img{
                padding: 0;
                padding-bottom: 20px;
                object-fit: cover;
            } 
            .tsp{
                font-weight: bolder;
                padding: 0px 10px 10px;
                margin:0;
            }
            .psp{

                padding: 10px;
                height: 190px;
                margin-bottom:10px;
            }
    .btnspProp{
        @include btnPropFx(flex, center, center, auto);
        margin:10px;
    }
    .btnsp{
        @include btnFx(16px, 40px);
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: auto;
    }
}
}