.sldCot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:white;
    font-family: raleway; 
    margin-top: 40px;
    margin-bottom: 20px;
        h2{
            font-weight: bolder;
            font-size: 48px;    
        }
        p{
            font-size: 22.4px;
            margin: 0;
        }
        
}